/* --------------------------------- Nav */
.menu-item span {
    display: block;
    width: 100%;
}

/* --------------------------------- Headings */
#main-heading {
    text-align: center;
    color: lightgrey;
}


/* --------------------------------- Color sampling area */

.color-one {
    background-color: palegoldenrod;
}

.color-two{
    background-color: paleturquoise;
}

.color-three {
    background-color: peachpuff;
}

.color-four {
    background-color: palevioletred;
}

.color-five {
    background-color: grey;
    padding: 20px;
}

/* --------------------------------- Swatches */
#swatch-container {
    display: flex;
    justify-content: center;
}
