/* ----------------------------------------------------------------- Sitewide */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* --------------------------------- Nav */

.navbar{
    height: 100px;
}

.nav-item a {
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    margin-left: 8px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #bab0a4;
}

.navbar-brand i {
    font-size: 55px;
    color: #bab0a4;
    padding-left: 10px;
}

/* --------------------------------- Headings */
#main-heading {
    text-align: center;
    color: #bab0a4;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 60px;

    /*--Code taken from https://fossheim.io/writing/posts/css-text-gradient/ ------------------------*/
    /* Create the gradient. */
    background-image: linear-gradient(
        50deg,
        rgb(240, 141, 128) 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #E4CA7C 33.333%, 
        #E4CA7C 50%, 
        #46D9BD 50%, 
        #46D9BD 66.666%, 
        #BD60CE 66.666%, 
        #BD60CE 83.333%, 
        #BD60CE 83.333%);

    /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

#main-heading:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}


#subtitle {
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 0;
    color: #ffffff;
}

#main-heading-section {
    padding: 40px 10px 40px 10px;
    background-color: #dddddd;
    border-top: 1px solid #f3f1f1;
    margin-left: 0;
}

/* --------------------------------- Footer */

footer {
    background-image: linear-gradient(#dddddd, #f1efef, #dddddd);
    align-content: center;
    margin-top: 100px;
    margin-bottom: 0;
    height: 100px;
}

.footer-contents {
    float: none;
    margin: 0 auto;
    margin-top: 25px;
}

.footer-contents i {
    font-size: 55px;
    color: #bab0a4;
}

/* -------------------------------------------------------------------------- index.html */

/* --------------------------------- Homepage Intro */

#colour-splash-intro {
    background: url("../images/colour-splash-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 50px;
    
}

@media only screen and (max-width: 576px){
    #colour-splash-intro {min-height: 400px}
}


/* --------------------------------- Jumbotron */

 .jumbotron {
    padding-top: 30px;
    background-color: rgba(221, 221, 221, 0.8);
    border: 1px solid transparent;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 5px rgb(172, 171, 171);
}

.jumbotron h2 {
    color: #EF7566;
    font-family: "Heebo", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
  

.jumbotron p {
    color: #ffffff;
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 5px #bab0a4;
    
}

@media (min-width: 992px) {
    .jumbotron h2 {font-size: 40px}
    .jumbotron p {font-size: 30px}
}

/* --------------------------------- Three Steps Image */

#three-steps img {
    display: flex;
   width: 100%;
   height: auto;
   padding-bottom: 40px;
}

@media only screen and (max-width: 576px){
    #three-steps img {display: none}
}

#smaller-screen-steps .step {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px 60px 40px 20px;
} 

#smaller-screen-steps .step h4 {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
}

#smaller-screen-steps .step p {
    color: #fff;
    font-size: 40px;
    font-family: "Heebo", sans-serif;
}

#smaller-screen-steps .step-one {
    background-color: #EF7566;
}

#smaller-screen-steps .step-two {
    background-color: #46D9BD;
}

#smaller-screen-steps .step-three {
    background-color: #BD60CE;
  
}

/* --------------------------------- CTA Button */

#call-to-action {
    display: flex;
    justify-content: center;
}

#call-to-action-button {
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: .15s ease-out;
    -moz-transition: .15s ease-out;
    transition: .15s ease-out;
}

#call-to-action-button:hover {
    font-size: 25px;
}

@media (min-width: 768px) {
    #call-to-action-button {font-size: 25px}
    #call-to-action-button:hover {font-size: 30px}
}

@media (min-width: 992px) { 
    #call-to-action-button {font-size: 30px}
    #call-to-action-button:hover {font-size: 35px}

}

/* --------------------------------- Reviews */

#reviews-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right:5px;
    border: 1px solid transparent;
    border-radius: 20px;
    position: relative;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px rgb(70, 69, 69);
}

.review p {
    color: #fff;
    font-family: "Heebo", sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media only screen and (max-width: 576px){
    #reviews-section {display: none}
}

@media (min-width: 576px) {
    .review {width: 180px; height: 180px}
}

@media (min-width: 992px) {
    .review {width: 200px; height: 200px}
    .review p {font-size: 25px}
}

@media (min-width: 1200px) {
    .review {width: 250px; height: 250px; margin-right: 15px}
    .review p {font-size: 30px}
}

#review-one {
    background-color: #EF7566;
}

#review-two {
    background-color: #E4CA7C;
}

#review-three {
    background-color: #46D9BD;
}

#review-four {
    background-color: #00C2DE;
}

#review-five {
    background-color: #BD60CE;
}

/* --------------------------------- Contact */

#contact-section {
    margin-top: 80px;
    
}

.contact-text {
    text-align: center;
    padding-top: 20px;
}

.contact-text h3 {
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    color: #bab0a4;
}

.contact-text p {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    color: #bab0a4;
}

@media (min-width: 576px) {
    .contact-text{text-align: right}
    .contact-text h3 {font-size: 50px}
    .contact-text p {font-size: 25px}
    #small-question-mark {display: none}
}

@media (min-width: 768px) {
    .contact-text h3 {font-size: 60px}
    .contact-text p {font-size: 30px}

}


/* -------------------------------------------------------------------------- tester.html */

/* --------------------------------- Controls */

.testing-controls {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    float: right;
    margin-right: 15px;
}

.control-link a {
    margin-right: 30px;
    text-decoration: none;
    color: grey;
    font-family: "Heebo", sans-serif;
}

/* --------------------------------- Help Modal */

.modal-header {
    justify-content: center;
}

.modal-content {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.btn-default {
    background-color: #bab0a4;
}

/* --------------------------------- Color Tester */

#colour-sampling-area {
    margin-left: 40px;
    margin-top: 30px;
}

#color-sample-background {
    padding: 20px 50px 20px 50px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.color-one {
    background-color: #dddddd;
}

.color-two{
    background-color: #dddddd;
}

.color-three {
    background-color: #dddddd; 
}

.color-four {
    background-color: #ffffff;
}

.color-sample {
   height: 100px;
   display: inline-block;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid transparent;
   border-radius: 5px; 
}

/* --------------------------------- Swatches */

.swatch {
    display: block;
   margin-left: 20px;
   margin-top: 40px;
   height: 50px;
   width: 50px;
   border: 1px solid #dddddd;
   border-radius: 10px;
}

#swatches .color-one {
    margin-top: 40px;
}

#labels {
    margin-left: 5px;
}

#labels p {
    font-weight: bold;
}

#labels .hex-one {
    margin-top: 50px;
}

#labels .hex-two {
    margin-top: 70px;
}

#labels .hex-three {
    margin-top: 65px;
}

#labels .hex-four {
    margin-top: 65px;
}

#swatches p {
    margin-left: 14px;
    margin-top: 3px;
    font-weight: bold;
}

/*---- Couldn't get swatches to respond to a tighter layout on small screen sizes.
@media only screen and (max-width: 576px){
    #labels .hex-one {margin-top: 0;}
    #labels .hex-two {margin-top: 0;}
    #labels .hex-three {margin-top: 0;}
    #labels .hex-four {margin-top: 0;}
}
*/


/* --------------------------------- Colour Picker */

#color-picker {
    height: 400px;
    width: 150px;
    background-color: grey;
    margin-left: 40px;
}

